.header__links {
	display: flex;
	align-items: center;
	justify-content: center;
	ul {
		display: flex;
		align-items: center;
		gap: 35px;
		li {
			a {
				display: flex;
				align-items: center;
				color: #212121;
				font-size: 14px;
				text-decoration: none;
			}
		}
	}
	.logo {
		padding-left: 60px;
	}
	&__icons {
		display: flex;
		align-items: center;
		button {
			padding-left: 30px;
		}
	}
}
