.price {
	margin-top: 138px;
}
.price__content {
	display: flex;
	justify-content: center;
	align-items: center;
	h3 {
		font-size: 30px;
		line-height: 36.57px;
	}
	h1 {
		margin-top: 35px;
		font-size: 55px;
		line-height: 67.05px;
	}
	button {
		margin-top: 55px;
		font-size: 16px;
		line-height: 19.5px;
		color: #fff;
		background: #d7b399;
		padding: 17px 29px;
	}
	.price__shoes {
		position: relative;
		.price__cash {
			position: absolute;
			top: 40px;
			right: 0;
			text-align: right;
			p {
				font-size: 24px;
				line-height: 29.26px;

				color: #000000;
			}
			span {
				font-size: 42px;
				line-height: 51.2px;
				color: #d84033;
			}
		}
	}
}
